.category-comp{
    width: 170px;
    height: 145px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
}

.category-comp:hover{
    background-color: #DB4444;
}

.category-comp .category-icon{
    height: 56px;
    width: 56px;
}
